# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# public/assets
ordersList/
ordersTodaycsv/
ordersYesterdaycsv/
public/checksList
public/orderList

#lock file
package-lock.json