# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# dotenv environment variables file
.env

# public/assets
ordersList/
ordersTodaycsv/
ordersYesterdaycsv/
ordersThreeMonthsToTodaycsv/
ordersThreeMonthsToYesterdaycsv/
public/checksList
public/orderList
public/checksExcel

#lock file
package-lock.json